/*Background image*/
/* Photo by Daria Obymaha from Pexels */

/*importing the fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,700;1,400&display=swap');

/*icons*/
.logo {
    height: 3rem;
}

.iconName {
    font-size: 22px !important;
}

body {

    /* background image */
    background: url(image/background2.jpg) no-repeat;
    background-position: 25% 75%;
    background-attachment: fixed;
    background-size: cover;
    /* page font */
    font-family: 'Josefin Slab', serif;
}

/*NAVBAR Styling*/
#userInfo {
    color: white;
    padding: 1rem;
    padding-left: 0px;
    margin-bottom: 0px !important;
}



/*Jumbotron styling*/
.jumbotron {

    min-width: 160px;
    background-color: rgba(233, 236, 239, 0.7);
    text-align: center;
    margin: 5% 20%;
}

.lead {
    margin-top: 1em;
}

/* button styling */
.signup {
    margin-top: 2em;
}

/*Container styling*/
#mainContainer {
    position: relative;
    height: 100vh;

}

/*Notes Container styling*/
#noteContainer {
    position: relative;
    height: 100vh;
    margin-top: 5vh;
}

/*Notes editing buttons styling*/
.buttonDiv {
    margin-bottom: 2rem;
}

button#doneNote,
button#allNote,
#notePad {
    display: none;
}

/*Profile page styling*/
#profileContainer {
    position: relative;
    height: 100vh;
    margin-top: 5vh;

}


.profileTable {
    font-size: 2rem;
    border: none !important;
    text-decoration: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    font-size: 1.25rem;
    line-height: 1.5em;
    border-left-width: 1.5rem;
    background-color: rgba(233, 236, 239, 0.7);
}

/* footer styling */
.footer {
    position: bottom;
    width: 100%;
    text-align: center;
    padding-top: 20px;

}

.footer p {
    margin-bottom: 0px !important;
}

/* Sign up form styling */
.signUpSpan {
    justify-content: center;
    min-width: 70px;
}

/* LOGIN form */
.logInModal {
    padding-bottom: 0px !important;
}

.loginFooter {
    position: relative;
}

.loginCheckBoxContainer {
    position: relative;
}

#forgotPassword {
    /*In the lessons Issam is using a bootstrap class called 'pull-right' or 'pull-left'*/
    float: right;
    margin-right: 1rem;
}

.loginCheck {
    display: inline !important;
    float: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

button#registrationButton {
    font-size: small !important;
    margin-right: auto;
}

/* MediaQuery */
@media (max-width: 400px) {
    #title {
        font-size: larger;
    }



}